@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #1f1d1d;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  color: #dcd5ba; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  height: calc(100vh - 40px);
  padding: 5rem; }
  @media only screen and (max-width: 600px) {
    #content {
      padding: 1rem; } }

.entries {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .entries > .entry {
    margin: 0.5rem 0; }
    .entries > .entry:first-child {
      margin-top: 0; }
    .entries > .entry:last-child {
      margin-bottom: 0; }
    .entries > .entry > .time {
      color: rgba(220, 213, 186, 0.6);
      font-size: 0.825rem; }
    .entries > .entry > .location {
      font-size: 1.375rem; }

code, pre {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  line-height: 1.1rem;
  font-size: 1.1rem;
  background-color: rgba(255, 238, 0, 0.06); }

span {
  line-height: 1.1rem;
  font-size: 1.1rem; }

.textblock {
  margin: 1rem 0; }
  .textblock:first-child {
    margin-top: 0; }
  .textblock:last-child {
    margin-bottom: 0; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 2rem; }
  footer > hr {
    display: inline-block;
    margin: 0 1rem;
    width: 1px;
    height: 20px; }
    @media only screen and (max-width: 600px) {
      footer > hr {
        margin: 0.5rem 0;
        height: 1px;
        width: 100%; } }
  footer > .buttons {
    margin: 0 0.5rem; }
  footer > .ico-link {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer > .ico-link > img {
      height: 24px;
      margin: 8px;
      filter: invert(0.5) sepia(1); }
  @media only screen and (max-width: 600px) {
    footer {
      flex-direction: column;
      align-items: flex-start; } }

a {
  color: #dcd5ba;
  text-decoration: underline; }
  a:hover {
    color: rgba(220, 213, 186, 0.6); }

button.theme {
  background: rgba(255, 238, 0, 0.06);
  border: 1px solid #dcd5ba;
  color: #dcd5ba; }
  button.theme:hover {
    opacity: 0.6; }

/*# sourceMappingURL=dark.css.map */
