<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sentient Tracker</title>

    <link id="theme" rel="stylesheet" href="css/light.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>
    <script src="https://unpkg.com/dayjs"></script>
</head>
<body>
<div id="content">
    <div class="entries" id="app">
        <div v-for="e in entries" class="entry">
            <div class="time">{{ new dayjs(e.time).format('DD MMM YYYY, HH:mm:ss (UTCZ)') }}</div>
            <div class="location">{{ e.result || "Went dark" }}</div>
        </div>
    </div>
</div>

<footer>
    <a href="/api">API reference</a>

    <hr>

    <div class="buttons">
        <span>Theme</span>
        <button class="theme" data-theme="dark">Dark</button>
        <button class="theme" data-theme="light">Light</button>
    </div>

    <hr>

    <a href="https://github.com/Atulin/Sentient-Tracker" class="ico-link">
        <span>Source</span>
        <img src="assets/Github.svg" alt="Github logo">
    </a>

    <hr>

    <a href='https://ko-fi.com/H2H365N9' class="ico-link">
        <span>Chip in for a better server</span>
        <img src="assets/Server.svg" alt="Server rack icon">
    </a>

</footer>

</body>
<script src="js/theme.js"></script>
<script src="js/main.js"></script>

<script>
    function onGranted() {
        console.log('granted')
    }

    function onDenied() {
        console.log('denied');
    }

    window.onload = function() {
        Push.Permission.request(onGranted, onDenied);
    };
</script>

<script>
    let socket = io('https://anomaly-tracker.glitch.me/');
    socket.on('event', (x) => {
        Push.create("New event!", {
            body: x.location === null ? "The ship went dark." : `The ship appeared on ${x.location}`,
            icon: x.location === null ? "assets/sleep.png" : "assets/wake.png",
            timeout: 10000
        });
    });
</script>

</html>
